@page
@model BookShop.Web.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<h2>Book List</h2>

<p>
    <a asp-page="./Create" class="btn btn-primary">Add New Book</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Language</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookList)
        {
            <tr>
                <th>@item.Name</th>
                <th>@item.Price</th>
                <th>@item.Language</th>
                <th>@item.CategoryName</th>
                <th>
                    <a asp-page="./Edit" asp-route-bookId="@item.Id">Edit</a>
                    <a asp-page="./Details" asp-route-bookId="@item.Id">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </th>
            </tr>
        }
    </tbody>

</table>